body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.4;
  color: seashell;
  background: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  background: black;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header img {
  height: 50px;
}

ul {
  display: flex;
  gap: 20px;
}

a {
  color: seashell;
}

a:hover {
  color: khaki;
  text-decoration: none;
}

main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 69px;
}

#mission {
  height: 700px;
  background-image: url("../assets/images/mission.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
}

#mission div {
  width: 100%;
  background: black;
}

#mission p {
  font-weight: bold;
}

#feature {
  width: 1000px;
  margin: 60px auto;
}

#feature div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

#feature img {
  width: 300px;
  height: 200px;
}

figcaption {
  font-weight: bold;
  margin-top: 10px;
}
